// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
	border: 1px solid #eee;
	padding: 10px;

}

.comment {
	border: 1px solid #fff;
	padding: 10px;
	margin: 10px;
	
}
